<h1>Add profile picture</h1>
<form action="/users/{{session.userId}}?_method=PUT" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <div class="tp">
        <input type="submit" value="Add">
    </div>
</form>