<h1>Ask a question</h1>
<form action="/questions" method="post">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="content" placeholder="Content" required>
    <input type="text" name="tags" placeholder="Tags" required>
    <input type="submit" value="Upload question">
</form>
